<!DOCTYPE html>
<html lang="en">



<head>
    <%- include('meta.ejs'); %>
    <title> <%-  citename %> </title>
</head>

<%- include('navbar.ejs'); %>


<div class="header">
    <h1 id="entri"> <%-  citename %> </h1>
</div>
<div class="flex-container">
    <div class="flex-item-left">
        <img src="/images/lunchTruck.png" alt="Lunch Truck" />
    </div>
    <div class="flex-item-right">
        <p class="textOne ">
            A lunch truck needs a place for people to post their comments. <br>
            Stakeholders also need recipes for their cooks.
        </p>
    </div>
</div>


<footer>
    <%- include('footer.ejs'); %>
</footer>

</html>