<!DOCTYPE html>
<html lang="en">

<html>

<head>
  <%- include('./pages/meta.ejs'); %>

  <title> </title>
</head>
<%- include('./pages/navbar.ejs'); %>

<body>
  <div id="2">
    <div id="sectionOne" class="flex-container postArea">
      <h1> Title: </h1>
      <div class="flex-item-left">
        <div id="grabTitle"><%- title %> </div>
      </div>
    </div>
    <div class="flex-container postArea">
      <div class="flex-items-right">
        <h1>Post:</h1>
        <div id="message" class="textTwo">
          <%- content %>
        </div>
      </div>
      <button id="save" onclick="save()">
        Save
      </button>
    </div>

  </div>




  <% results.forEach(function(titleAndContent) { %>

  <div class="flex-container-save" id="3">
    <div class="div-content">
      <h1><%- titleAndContent.title %></h1>
      <div class="textTwo ">
        <%- content %>
      </div>
    </div>
    <div>
      <button id="delete" onclick="del(`<%- titleAndContent.title %>`)" style="background:red">
        Delete
      </button>
    </div>

    <% }); %>


  </div>
  <%- include('../view/javaScript/script.ejs')%>

</body>