<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <%- include('./pages/meta.ejs'); %>

  <title>Post Message or Comments</title>
</head>
<%- include('./pages/navbar.ejs'); %>

<body>

  <h1 class="header"> Post Comments</h1>
  <h1 class="header">Save Post</h1>
  <h2 class="header"> Post Name: </h2>
  <h1 class="header">
    <div id="grabTitle"><%- title %></div>
  </h1>
  <div id="2">
    <div class="flex-container-postView" id="sectionOne">
      <div class="flex-item-left-postView">

        <div id="message" class="content-width textTwo">
          <%- content %>
        </div>
        <div class="content-width saveButton">
          <button class="postSave" onclick="save()">
            Save
          </button>
        </div>
      </div>
      <div class="flex-item-right-postView">

      </div>
    </div>
  </div>

  </div>
  <%- include('../view/javaScript/script.ejs')%>
</body>

<footer>
  <%- include('./pages/footer.ejs'); %>
</footer>