<!DOCTYPE html>
<html lang="en">

<html>

<head>
  <%- include('./pages/meta.ejs'); %>

  <title> </title>
</head>
<%- include('./pages/navbar.ejs'); %>

<body>
  <div class="sec" id="2">
    <div id="sectionOne" class="card save">
      <h1> Title: </h1>
      <div id="grabTitle"><%- title %> </div>
      <div>Message:
        <p id="message"><%- content %></p>
        <button id="save" onclick="save()" style="background:green">
          Save
        </button>
      </div>
    </div>
  </div>
  <!-- 
  <table id="customers">
    <tr>
      <th>
        <h1>Post</h1>
      </th>
    </tr>
    <% results.forEach(function(titleAndContent) { %>
    <tr>
      <td>
        <h1><%- titleAndContent.title %></h1>

        <%- titleAndContent.content %>
        <button id="delete" onclick="del(`<%- titleAndContent.title %>`)" style="background:red">
          Delete
        </button>

        <button id="edit" onclick="editFunction()" style="background:blue">
          edit
        </button>

      </td>
    </tr>
    <% }); %>
  
  </table> -->




  <div class="sec" id="3">
    <% results.forEach(function(titleAndContent) { %>
    <div>
      <h1><%- titleAndContent.title %></h1>
      <div id="message">
        <%- titleAndContent.content %>
        <button id="delete" onclick="del(`<%- titleAndContent.title %>`)" style="background:red">
          Delete
        </button>

        <button id="edit" onclick="editFunction()" style="background:blue">
          edit
        </button>
      </div>
    </div>

    <% }); %>
  </div>

  </div>
  <%- include('../view/javaScript/script.ejs')%>

</body>